<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>knot note</title>
        <style>
            body {
                font-family:
                    -apple-system, BlinkMacSystemFont, Helvetica, Arial,
                    sans-serif;
                font-size: 16px;
            }
            main {
                max-width: 40em;
                margin: 0 0 0 2rem;
                line-height: 1.7;
            }
        </style>
    </head>
    <nav>
        <ul>
            {% for (level, id, title) in toc %}
            <li><a href="#{{id}}" data-level="{{level}}"">{{title}}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <body>
        <main>{{ body | safe }}</main>
    </body>
</html>
