<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ title or "Untitled" }}</title>
        <style>
            {% include "style.css" without context %}
        </style>
        {%- if livereload %}
        <script>
            {% include "livereload.js" without context %}
        </script>
        {%- endif %}
    </head>
    <body>
        <nav>
            <ul>
                {%- for entry in toc %}
                <li data-level="{{entry.level}}">
                    <a href="#{{entry.id}}">{{entry.title}}</a>
                </li>
                {%- endfor %}
            </ul>
        </nav>
        <main>{{ body | safe }}</main>
    </body>
</html>
