body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size: 16px;

  display: grid;
  grid-template-columns: 0.2fr 2fr 1fr;
  gap: 2rem;

  --theme-color: rgb(179, 27, 27);
  --faded-color: #666;
  --more-faded-color: #ccc;
  --mono-font:
    ui-monospace, SF Mono, "Anonymous Pro", Inconsolata, Consolas,
    "Source Code Pro", Menlo, Monaco, monospace;
  --mono-size: 13.5px;
}

main {
  grid-column: 2;
  grid-row: 1;

  /* Unintuitively, this fixes an issue where <pre> would "expand"
     the column to be too wide. */
  min-width: 0;

  p,
  ul,
  ol {
    line-height: 1.7;
  }

  a:link {
    color: var(--theme-color);
    text-decoration-thickness: 2%;
  }
  a:visited {
    color: var(--theme-color);
  }

  pre,
  code {
    font-family: var(--mono-font);
    font-size: var(--mono-size);
  }
  code {
    background: rgba(175, 184, 193, 0.2);
  }
  pre code {
    display: block;
    border-radius: 3px;

    /* "Margin bleed" for the background. */
    padding: 8px;
    margin-left: -8px;
    margin-right: -8px;

    /* Make <pre> code scroll horizontally when it's too wide. */
    overflow-x: auto;
    word-wrap: normal;
    white-space: pre;
  }
}

nav {
  grid-column: 3;
  grid-row: 1;

  color: var(--faded-color);
  font-size: 14px;

  ul {
    padding-left: 0;
    position: sticky;
    top: 1rem;

    li {
      list-style: none;
      padding-left: 0;
      margin: 0.4rem 0;

      a:link {
        color: inherit;
        text-decoration: none;
      }
      a:visited {
        color: inherit;
      }
      a:hover {
        color: var(--more-faded-color);
      }

      &[data-level="2"] {
        padding-left: 0.5rem;
      }
      &[data-level="3"] {
        padding-left: 1rem;
      }
      &[data-level="4"] {
        padding-left: 1.5rem;
      }
      &[data-level="5"] {
        padding-left: 2rem;
      }
      &[data-level="6"] {
        padding-left: 2.5rem;
      }
    }
  }

  dl {
    display: grid;
    grid-template-columns: max-content;
    gap: 0.2rem 0.5rem;

    a:link {
      color: inherit;
      text-decoration: none;
    }
    a:visited {
      color: inherit;
    }
    a:hover {
      color: var(--theme-color);
      text-decoration: underline;
    }

    dt {
      grid-column: 1;
      text-align: right;
      color: var(--more-faded-color);
      font-weight: bold;
    }

    dd {
      grid-column: 2;
      margin: 0;

      &.commit,
      &.path {
        font-family: var(--mono-font);
        font-size: var(--mono-size);
      }
    }
  }
}

/* Mobile layout: no sidebar. */
@media (max-width: 50rem) {
  body {
    grid-template-columns: 0.1fr 2fr 0.1fr;
    gap: 0;
  }
  nav {
    grid-column: 2;
    grid-row: 1;
  }
  main {
    grid-column: 2;
    grid-row: 2;
  }
}

/* Dark mode. */
@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
    --theme-color: rgb(218, 60, 63);
    --faded-color: #aaa;
    --more-faded-color: #eee;
  }
}
