body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size: 16px;

  display: flex;
  gap: 1rem;
}

main {
  flex: 0 1 40rem;
  max-width: 40rem;
  min-width: 0;

  p {
    line-height: 1.7;
  }

  a:link {
    color: rgb(179, 27, 27);
    text-decoration-thickness: 2%;
  }
  a:visited {
    color: rgb(179, 27, 27);
  }

  pre,
  code {
    font-family:
      ui-monospace,
      SF Mono,
      "Anonymous Pro",
      Inconsolata,
      Consolas,
      "Source Code Pro",
      Menlo,
      Monaco,
      monospace;
    font-size: 14px;
  }
  code {
    background: rgba(175, 184, 193, 0.2);
  }
  pre code {
    display: block;
    border-radius: 3px;

    padding: 1em 8px;
    margin-left: -8px;
    margin-right: -8px;

    /* Make <pre> code scroll horizontally when it's too wide. */
    overflow-x: auto;
    word-wrap: normal;
    white-space: pre;
  }
}

nav {
  flex: 0 0 10rem;
  width: 10rem;

  color: #666;
  font-size: 14px;

  ul {
    padding-left: 0;
    position: sticky;
    top: 1rem;
  }

  li {
    list-style: none;
    padding-left: 0;

    a:link {
      color: inherit;
      text-decoration: none;
    }
    a:visited {
      color: inherit;
    }
    a:hover {
      color: #333;
    }

    &[data-level="2"] {
      padding-left: 0.5rem;
    }
    &[data-level="3"] {
      padding-left: 1rem;
    }
    &[data-level="4"] {
      padding-left: 1.5rem;
    }
    &[data-level="5"] {
      padding-left: 2rem;
    }
    &[data-level="6"] {
      padding-left: 2.5rem;
    }
  }
}
